<app-header></app-header>

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="alert alert-danger" role="alert" *ngIf="singinErrros!=null">
                {{singinErrros}}
              </div>

              <h3 class="mb-5">Sign in</h3>
  
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3">
                  <label for="inputName" class="form-label">Name:</label>
                  <input formControlName="name" type="text" class="form-control" id="inputName">
                </div>
                <div class="mb-3">
                  <label for="inputSurname" class="form-label">Surname:</label>
                  <input formControlName="surname" type="text" class="form-control" id="inputSurname">
                </div>
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Email:</label>
                    <input formControlName="email" type="text" class="form-control" id="inputUsername" >
                </div>
                <div class="mb-3">
                  <label for="inputPassword1" class="form-label">Password:</label>
                  <input formControlName="password" type="password" class="form-control" id="inputPassword1">
                </div>
                
                <button type="submit" class="btn btn-primary">Singin!</button>

              </form>
              <hr class="my-4">
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <app-footer></app-footer>